.top > h1 > a{
	color: inherit;
	text-decoration-line:none;
}


.title {
	font-weight: bold;
	font-size: 30px;
}
body {
	margin: 0px;
}
.top{
	border-bottom: 1px solid black;
	text-align: center;
	padding: 50px;
	background-color: skyblue;
}

.toggle{

}

.nav{
	margin-right: 0;
}
.nav > ul > li > a{
	color:inherit;
	text-decoration-line: none;
	color: skyblue;
	
}
.nav > ul {
	margin: 0px;
	padding-top: 5px;
}

.m_menu{
	background-color: gray;
	display: grid;
	grid-template-columns:
		1fr 1fr 1fr 1fr ;
	grid-template-rows:
		50px 50px 50px;
	height: 150px;
}
.btn{
	grid-column: 3 / 5;
}

@media(min-width:900px){
	.middle{
	display: grid;
	grid-template-columns: 200px 1fr;
	}
	.nav{
		border-right: 1px solid black;
	}
	.m_menu{
	background-color: gray;
	display: grid;
	grid-template-columns:
		1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:
		50px 50px;
	height: 100px;
}
	.btn{
	grid-column: 5 / 7;
}
}

.main {
	margin: 10px;
}

.m_title{
	
}

.m_menu > input {
	margin: 5px;
	
}

